
* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
.main1
{
    background-color: brown;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-content: center;

}
 .title{
    text-align: center;
}
.item 
{
    padding-left: 5%;
    width: 50%;
    height: auto;
}

#menu {
	background: #0099CC;
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
}

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu ul .img {
	width: 50px;
    height: 100%;
}
#menu li {
	float: left;
    font-size: x-large;
    padding-left: 10%;
    font-size: 150%;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }
    .layout {
        width: 100%;
        background-color: chartreuse;
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        justify-content: center;
      }
      